<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SCL 2018</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/> <!-- load fontawesome -->
  <style>
    body        { padding-top:80px; }
  </style>
</head>
<body>
<h1>Players List</h1>

<table class="player">
  <colgroup span="4"></colgroup>
  <tr>
    <th>Name</th>
    <th>Bat</th>
    <th>Bowl</th>
    <th>WK</th>
    <th>Lead a Team?</th>
  </tr>
  <% for(var i=0; i<player.length; i++) {%>
  <tr class="player">
    <td><span><%= player[i].name %></span></td>
    <td><span><%= player[i].bat %></span></td>
    <td><span><%= player[i].bowl %></span></td>
    <td><span><%= player[i].wk %></span></td>
    <td><span><%= player[i].lead %></span></td>
  </tr>
  <% } %>
</table>

<form action="/player" method="POST">
  <input type="text" placeholder="Name" name="name">
  <input type="number" placeholder="Bat" name="bat">
  <input type="number" placeholder="Bowl" name="bowl">
  <input type="number" placeholder="WK" name="wk">
  <span>Lead?</span>
  <select name="lead">
    <option value="Yes">Yes</option>
    <option value="No" selected>No</option>
    <option value="Maybe">Maybe</option>
  </select>
  <button type="submit">Submit</button>
</form>
</body>
</html>