<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
  <header>
    <% include ./partials/header %>
  </header>
  <h1>Available Players List</h1>

  <table class="player">
    <colgroup span="4"></colgroup>
    <tr>
      <th>Name</th>
      <th>Bat</th>
      <th>Bowl</th>
      <th>WK</th>
      <th>Lead a Team?</th>
    </tr>
    <% for(var i=0; i<player.length; i++) {%>
      <% if (player[i].available) { %>
        <tr class="player">
          <td><span><%= player[i].name %></span></td>
          <td><span><%= player[i].bat %></span></td>
          <td><span><%= player[i].bowl %></span></td>
          <td><span><%= player[i].wk %></span></td>
          <td><span><%= player[i].lead %></span></td>
        </tr>
      <% } %>
    <% } %>
  </table>

  <% if (user && user.admin) { %>
    <form action="/player" method="POST">
      <input type="text" placeholder="Name" name="name">
      <input type="number" placeholder="Bat" name="bat">
      <input type="number" placeholder="Bowl" name="bowl">
      <input type="number" placeholder="WK" name="wk">
      <span>Lead?</span>
      <select name="lead">
        <option value="Yes">Yes</option>
        <option value="No" selected>No</option>
        <option value="Maybe">Maybe</option>
      </select>
      <button type="submit">Submit</button>
    </form>
  <% } %>

  <footer>
    <% include ./partials/footer %>
  </footer>
</body>
</html>